p {
	font-family: Roboto;
  }

  mat-card {
	max-width: 400px;
	margin: 2em auto;
	text-align: center;
  }
  .signin-content {
	padding: 60px 1rem;
  }
  .full-width-input {
	width: 100%;
  }

  
* {
    box-sizing: border-box;
  }

  mat-form-field {
    margin-right: 12px;
  }