
.part-card-final-pd {
  min-width: 400px;
  margin-bottom: 10px;
}

.part-cart-itens{
  color: #C7511F;
  min-height: 100px;
}

.single-cards {
  margin: 20px 8px 0 0 !important;
}

.single-card .mat-card-avatar {
  width: 50px;
  height: 50px;
}

.single-card .mat-icon {
  font-size: 55px;
}

.projects-card>mat-card-content {
  max-height: 400px;
  overflow: auto;
}


.dash-card-list{
  height: 250px;
}

.example-card {
  max-width: 400px;
  margin-bottom: 10px;
}

.dash-card-list-item-img {
  max-width: 250px;
  min-width: 150px;
}

.dash-card-list-item {
  max-width: 297px;
  min-width: 198px;
  height: 404px;
  float: left;
  text-align: center;
  position: relative;
  padding: 0 4px 0 0 !important;
  margin: 0 !important;
}

.dash-item-card:hover{
  cursor: pointer;
  /*background-color: lightslategrey;*/
}

.dash-item-card:hover>mat-card-header{
  text-decoration: underline;
  color: #C7511F;
}

.a-color-price {
  color: #B12704!important;
}

.subtitle-color {
  color: #007185;
}

.example-action-buttons {
  padding-bottom: 20px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}