<div class="signin-content">
	<mat-card style="text-align: center;">
		<mat-card-content>
			<form [formGroup]="form" (ngSubmit)="onSubmit()">
				<mat-card-title>
					<p>Faça o login</p>
				</mat-card-title>
				
				<mat-form-field class="full-width-input">
					<input matInput placeholder="E-mail" formControlName="userName" required>
					<mat-error *ngIf="isFieldInvalid('userName')">
						Please inform your user e-mail
					</mat-error>
				</mat-form-field><br />
				<mat-form-field class="full-width-input">
					<input matInput type="password" placeholder="Password" formControlName="password" required>
					<mat-error *ngIf="isFieldInvalid('userName')">
						Please inform your password
					</mat-error>
				</mat-form-field><br />
				

				<section>
                    <div class="example-button-row">
                      <div class="demo-button-container" style="text-align: center;">
						<button mat-raised-button color="primary" type="submit" style="margin-right:20px" >Login</button>
                        <button mat-raised-button color="primary" (click)="creatNewUser()" class="demo-button" style="margin-right:20px">Criar</button>
                      </div>
                    </div>
                  </section>
				  <br /><br />
				<section>
                    <div class="example-button-row">
                      <div class="demo-button-container" style="text-align: center;">
						<button mat-raised-button color="primary" (click)="creatNewUser()" class="demo-button" style="margin-right:20px">
							Recuperar senha
						  </button> 
                      </div>
                    </div>
                  </section>



			</form>
		</mat-card-content>
	</mat-card>
</div>